@model EJIntegral.Models.Staff_Details

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Staff_Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateOfOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateOfOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevArea)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NRelationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NRelationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NContactNumber)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StaffId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
