
@{
    ViewBag.Title = "_LayoutProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #modal-container .modal-body {
        max-height: 100px;
    }

    #upload-image {
        width: 300px;
    }
</style>
<div id='cssmenu'>
    <ul>
        <li>@Html.ActionLink("Staff Details", "Index", "staff_details")</li>
        <li>@Html.ActionLink("Service Details", "Index", "Service_details")</li>
        <li>@Html.ActionLink("Documents", "Index", "Documents")</li>
    </ul>
</div>
<div class="row">
</div>

<div class="container body-content" style="padding:0;margin:0">

    <div class="col-md-11 col-sm-11 col-xl-11 col-xs-11">
        @RenderBody()
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@RenderSection("scripts", required: false)
@section Scripts{
    <script>

        var openFile = function (event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('output');
                output.src = dataURL;
            };
            reader.readAsDataURL(input.files[0]);
        };

    </script>
}

